.item{
    height: 23rem;
    min-width: 22rem;
    padding: 2rem;
}
.item img{
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.slider{
    display: flex;
    cursor: grab;
}
.slider-container{
    margin: 0 auto;
    width: 70%;
    overflow-x: hidden;
    border: rgb(0, 0, 0) solid;
}